<ion-view>
  <ion-content class="login">
  <h1 class="titleText">Notice</h1>
  <h2 class="subtitleText">The easy way to stay up-to-date with school activites</h2>
  <div class="loginBackground">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" ng-model="user.email">
      </label> 
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-positive button-full button-outline" ng-click="login()">Log in</button>
      <div class="error" ng-if="errorMessage" ng-bind="errorMessage">
      </div>
      <br><br><br>
      <!--
      <button class="button button-stable button-block" ui-sref="reset-password">
        Can't remember my password
      </button>
      <button class="button button-stable button-block" ui-sref="signup">
        Sign Up
      </button>
      -->
      <p class="signUpReminder" ui-sref="signup"><a>Don't have an account? Sign up.</a></p>
    </div>
  </div>
  </ion-content>
</ion-view>
