<ion-view>

<div class="css-slideshow">
  	<figure>
  		<img src="http://38.media.tumblr.com/3510d97834b8c9b4a479e716d5958d4b/tumblr_ndk9dw90GY1qfirfao1_1280.jpg" alt="class-header-css3" class="alignnone size-full wp-image-172" />
  	</figure>
  	<figure>
  		<img src="http://38.media.tumblr.com/04b5eca2ac632473808a155f967dfca3/tumblr_ndx1iiENZl1qfirfao1_1280.jpg" alt="class-header-semantics"  class="alignnone size-full wp-image-179" />
  	</figure>
  	<figure>
  		<img src="http://38.media.tumblr.com/481cf6279bcb5a7c3bfffce3e269e12d/tumblr_ndx18ylwaX1qfirfao1_1280.jpg" alt="class-header-offline"  class="alignnone size-large wp-image-178" />
  	</figure>
  	<figure>
  		<img src="http://40.media.tumblr.com/51671fa9bbf1d33e0ec910bc7df780f6/tumblr_nbetnoTXqs1qfirfao1_1280.jpg" alt="class-header-device"  class="alignnone size-full wp-image-177" />
  	</figure>
    <figure>
  		<img src="http://41.media.tumblr.com/3ad09fdd8f9cb22a27c55fec95688e0c/tumblr_n7fsbi2yR61qfirfao1_1280.jpg" alt="class-header-connectivity" class="alignnone size-large wp-image-176" />
  	</figure>
  	<figure>
  		<img src="http://33.media.tumblr.com/cd52265ae8e4869448d40c8298d8272a/tumblr_ndk6qp5Mqg1qfirfao1_1280.jpg" alt="class-header-multimedia" class="alignnone size-large wp-image-175" /> 
  	</figure>
  	<figure>
  		<img src="http://33.media.tumblr.com/bc044adde57e85bf96ad2e366186ea53/tumblr_nd634qdShA1qfirfao1_r1_1280.jpg" alt="class-header-3d" class="alignnone size-large wp-image-174" />
  	</figure>
  	<figure>
  		<img src="http://40.media.tumblr.com/0af3251b9eda993221b3e5d24c62385b/tumblr_n72tbo3L1O1qfirfao1_1280.jpg" alt="class-header-performance" class="alignnone size-large wp-image-173" /> 
  	</figure>
  </div> 
  
  <ion-content content scroll="false">
  <h1 class="titleText">Notice</h1>
  <h2 class="subtitleText">The easy way to stay up-to-date with school activites</h2>
  
  <div class="loginBackground">
    <div class="loginList">
      <label class="item item-input item-stacked-label">
        <input type="email" class="loginDetail" placeholder="Email" ng-model="user.email">
      </label> 
      <label class="item item-input item-stacked-label">
        <input type="password" class="loginDetail" placeholder="Password" ng-model="user.password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-dark button-outline loginButton" ng-click="login()">Log in</button>
      <div class="error" ng-if="errorMessage" ng-bind="errorMessage"></div>
      <p class="signUpReminder" ui-sref="signup"><a>Don't have an account? Sign up.</a></p>
    </div>
  </div>
  </ion-content>
</ion-view>
