<ion-view>
  <ion-content class="login" content scroll="false">
  <h1 class="titleText">Notice</h1>
  <h2 class="subtitleText">The easy way to stay up-to-date with school activites</h2>
  <div class="loginBackground">
    <div class="loginList">
      <label class="item item-input item-stacked-label">
        <input type="email" class="loginDetail" placeholder="Email" ng-model="user.email">
      </label> 
      <label class="item item-input item-stacked-label">
        <input type="password" class="loginDetail" placeholder="Password" ng-model="user.password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-dark button-outline loginButton" ng-click="login()">Log in</button>
      <div class="error" ng-if="errorMessage" ng-bind="errorMessage"></div>
      <p class="signUpReminder" ui-sref="signup"><a>Don't have an account? Sign up.</a></p>
    </div>
  </div>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-56006424-1', 'auto');
    ga('send', 'pageview');
  
    </script>
  </ion-content>
</ion-view>
