<ion-view title="Dashboard" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">

  <!-- Add notifications -->
  <div class="card">
      <div class="item item-text-wrap">
        <h1 class="notif">Send a Notification</h1>
        <input class="item item-input loginDetail" ng-model="message"></input><br>
        
        <div class="activityPicker">
          <form ng-submit="postNotification(message)">
            <select name="activities" ng-model="activityName" ng-options="">
              <option value="">Math Team</option>
              <option value="">Basketball</option>
              <option value="">Horticulture Club</option>
              <option value="">Science Olympiad</option>
            </select>

            <button class="button button-outline button-outline submitNotif" id="postNotifButton">Submit</button>
          </form>        
        </div>
      </div>
  </div>
 
  <!-- List notifications -->
  <div class="list card" ng-repeat="n in notifications | orderBy:dateCreated:reverse">
    <div class="item item-avatar">
      <img ng-src="{{n.gravatarURL}}"></img>
      <h2>{{n.createdBy}}</h2>
      <p>{{n.dateCreated | date:'MMMM d, yyyy'}}</p>
      <!--
      <div class="tagName">
        {{n.tag}}
      </div> -->
      <button class="button button-small button-assertive" id="tagName">
        {{n.tag}}
      </button>
    </div>
    <div class="item item-body">
      <p class="notificationText">
        {{n.message}}
      </p>
    </div>
  </div>
  <div class ="footer">
    <p>Notice</p>
  </div>
  </ion-content>
</ion-view>
