<ion-view title="Dashboard" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" class="has-header padding">
  
  <!-- Add notifications -->
  <div class="card">
      <div class="item item-text-wrap">
        <h1 class="notif">Send a Notification</h1>
        <input class="item item-input loginDetail notifSend" ng-model="message" ng-minlength=1 /><br>
        
        <div class="activityPicker">
          <form ng-submit="postNotification(message, selectedItem.name, selectedItem.color)">
            <select id="s1" ng-model="selectedItem" ng-options="item as item.name for item in clubs" class="ng-pristine ng-valid" required>
              <option value="?" selected="selected">Select a Club</option>
              <option value="0"></option>
              <option value="1"></option>
              <option value="2"></option>
              <option value="3"></option>
            </select>
            <button class="button button-outline button-outline submitNotif" id="postNotifButton">Submit</button>
          </form>        
        </div>
      </div>
  </div>
 
  <!-- List notifications -->
  <div class="list card" ng-repeat="n in notifications| orderByPriority | reverse">
    <div class="item item-avatar">
      <img ng-src="{{n.gravatarURL}}"></img>
      <h2 id="personName">{{n.createdBy}}</h2>
      <p id="tagDate">{{n.dateCreated | date:'MMMM d, yyyy'}}</p>
      <button class="button button-small" style="background-color: {{n.color}}; border-color: {{n.color}}; color: #fff;" id="tagName">
        {{n.tag}}
      </button>
    </div>
    <div class="item item-body">
      <p class="notificationText">
        {{n.message}}
      </p>
    </div>
  </div>
  <div class ="footer">
    <p>© Notice</p>
  </div>
  </ion-content>
</ion-view>
