<ion-view title="Dashboard" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">
 <!--  <ion-refresher
    on-refresh="refresh()">
  </ion-refresher> -->

  <!-- Add notifications -->
  <div class="card">
      <div class="item item-text-wrap">
        <h1 class="notif">Send a Notification</h1>
        <input class="item item-input loginDetail" ng-model="message"></input><br>
        <button class="button button-outline button-outline submitNotif" ng-click="postNotification(message)">Submit</button>
      </div>
  </div>
 
  <!-- List notifications -->
  <div class="list card" ng-repeat="n in notifications | orderBy: 'dateCreated':true">
  <div class="item item-avatar">
      <img ng-src="{{n.gravatarURL}}"></img>
      <h2>{{n.createdBy}}</h2>
      <p>{{n.dateCreated | date:'MMMM d, yyyy'}}</p>
    </div>
    <div class="item item-body">
      <p class="notificationText"> 
        <!-- assign a class to this and button pull left colored box with tag-->
      {{n.message}}
      </p>
    </div>
  </div>
  </ion-content>
</ion-view>
