.signUpReminder {
	text-align: center;
}
.loginButton {
	width: 120px;
	display: block;
	margin: 0 auto;
	margin-bottom: 0px !important;
	margin: 10px auto 0px auto;
}

.signUpReminder {
	margin-top: 4px !important;
	text-align: center !important;
	color: #000;
	text-decoration: none;
}

.titleText {
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	text-align: center !important;
	margin-bottom: 5px !important;
	margin-top: 200px !important;
	font-size: 4em;
}

.subtitleText {
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	text-align: center !important;
	margin-bottom: 20px !important;
	margin-top: 0px !important;
	font-size: 1.5em;
}

.login {	
	background-image: url("http://38.media.tumblr.com/6eac028da1d1213861c274c1f98e4586/tumblr_nchz8vf3sG1qfirfao1_1280.jpg");
	background-size: cover;
}

.notif {
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
	text-align: center !important;
}

.loginDetail {
	text-align: center;
}

.signUp {
	margin-bottom: 5px;
}

.loginList {
	margin: 0% 20%;
}

.submitNotif {
	width: 90px;
	display: block;
	margin: 0 auto;
	margin-bottom: 0px !important;
}

.notificationText {
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	text-align: center;
	font-size:1.3em !important;
	margin-top: 10px;
	margin-bottom: 10px;
}

#tagName {
	margin: 0 0 0 0;
	float: right;
}

.postNotifButton {
	float: right;
	margin: 0px 0px 0px 0px !important;
}

.footer {
	margin: 5px 0px;
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	text-align: center !important;
}

#tagDate {
	margin: 0 0 0 0;
}

#personName {
	text-size: 120%;
}

