<div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a ng-href="#">home</a></li>
          <!-- //angularfire -->
	  <li class="active"><a ng-show-auth="" href="#/dashboard">dashboard</a></li>
          <li>
            <a ng-hide-auth="" href="#/login">log in</a>
	    <a ng-show-auth="" href="#/account">account</a>
          </li>
          </ul>
        <h3 class="text-muted"><a href="#/" style="text-decoration: none;">Notice</a></h3>
</div>

<div ng-repeat="n in notifications| orderByPriority | reverse">
    <div class="item item-avatar">
      <img ng-src="{{n.gravatarURL}}"></img>
      <h2 id="personName">{{n.createdBy}}</h2>
      <p id="tagDate">{{n.dateCreated | date:'MMMM d, yyyy'}}</p>
      <button class="button button-small" style="background-color: {{n.color}}; border-color: {{n.color}}; color: #fff;" id="tagName">
        {{n.tag}}
      </button>
    </div>
    <div class="item item-body">
      <p class="notificationText">
        {{n.message}}
      </p>
    </div>
  </div>
